*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: 0 auto;
}

input, button {
    height: 30px;
}
h1 {
    width: 200px;
    margin: 0 auto;
    font-size: 24px;
}

.number-error{
    display: none;
    justify-content: center;
    background-color: red;
    margin: 10px 0;
    padding: 6px;
    color: white;
}

.number-sucess{
    display: none;
    justify-content: center;
    background-color: greenyellow;
    margin: 10px 0;
    padding: 6px;
}